{% extends "bootstrap/base.html" %}

{% block styles %}
{{ super() }}
<link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}iSAID Claims{% endblock %}

{% block navbar %}
{{nav.isaid_navbar.render()}}
{% endblock %}

{% block content %}
    <h1>Claims on {{ claim_type }}</h1>
    <table id="claims" class="table">
        <thead>
            <tr>
                <th>Claim Label</th>
                <th>Total Occurrences</th>
            </tr>
        </thead>
        <tbody>
            {% for index, row in data.iterrows() %}
                <tr>
                    <td><a href="/people?search_type={{ claim_type }}&search_term={{ row.object_label }}">{{ row.object_label }}</a></td>
                    <td>{{ row.total_occurrences }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Claim Label</th>
                <th>Total Occurrences</th>
            </tr>
        </tfoot>
    </table>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
<script type="text/javascript" class="init">
    $(document).ready(function() {
        $('#claims').DataTable();
    } );
</script>
{% endblock %}
