{% extends "bootstrap/base.html" %}

{% block styles %}
{{ super() }}
<link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}iSAID Search Facets{% endblock %}

{% block navbar %}
{{nav.isaid_navbar.render()}}
{% endblock %}

{% block content %}
    <h1>Terms and number of occurrences for : {{ category }}</h1>
    <table id="facets" class="table">
        <thead>
            <tr>
                <th>Term</th>
                <th>Total Occurrences</th>
            </tr>
        </thead>
        <tbody>
            {% for k, v in data["facetsDistribution"][category].items() %}
                <tr>
                    <td><a href="/people?filters={{category}}:{{k}}">{{ k }}</a></td>
                    <td>{{ v }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Term</th>
                <th>Total Occurrences</th>
            </tr>
        </tfoot>
    </table>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
<script type="text/javascript" class="init">
    $(document).ready(function() {
        $('#facets').DataTable();
    } );
</script>
{% endblock %}
