{% extends 'base.html' %}
 
{% block container %}
<blockquote class="blockquote text-left">
      <p class="mb-0">This web app provides a simple interface to view information cached in the Integrated Science Assessment Information Database (iSAID). iSAID is an experimental toolset that continuously assembles information about people, facilities, and scientific assets useful in assessing overall capacity to carry out integrated science. The interface is deliberately ugly by design as it is intended to provide a full dive into the data and not a specific type of presentation.</p>
</blockquote>
{% endblock %}