{% extends "bootstrap/base.html" %}
{% block title %}iSAID Ugly-by-Design Interface{% endblock %}

{% block navbar %}
{{nav.isaid_navbar.render()}}
{% endblock %}

{% block content %}
<blockquote class="blockquote text-left">
    <p class="mb-0">This web app provides a simple interface to view information cached in the Integrated Science Assessment Information Database (iSAID). iSAID is an experimental toolset that continuously assembles information about people, facilities, and scientific assets useful in assessing overall capacity to carry out integrated science. The interface is deliberately ugly by design as it is intended to provide a full dive into the data and not a specific type of presentation.</p>
    <h4>Things you can do here</h4>
    <ul>
        <li>View a list of all people</li>
        <li>Explore "descriptors" (aka claims) made about people from multiple reference materials - expertise terms, job titles, organization affiliations</li>
        <li>Click on descriptor term to filter the list of people</li>
    </ul>
</blockquote>
{% endblock %}