{% extends "bootstrap/base.html" %}

{% block styles %}
{{ super() }}
<link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}iSAID Listing of People{% endblock %}

{% block navbar %}
{{nav.isaid_navbar.render()}}
{% endblock %}

{% block content %}
    <p>Total Results: {{ data|length }}</p>
    <div>
        <ul>
            <li>Search Type: {{ search_type }}</li>
            <li>Search Term: {{ search_term }}</li>
        </ul>
    </div>
    <table id="people" class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for index, row in data.iterrows() %}
                <tr>
                    <td><a href="/person/{{ row.email }}">{{ row.full_name }}</a></td>
                    <td>{{ row.email }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </tfoot>
    </table>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
<script type="text/javascript" class="init">
    $(document).ready(function() {
        $('#people').DataTable(
            {
                dom: 'Bfrtip',
                buttons: [
                    'excel',
                    'csv'
                ]
            }
        );
    } );
</script>
{% endblock %}