{% extends "bootstrap/base.html" %}

{% block styles %}
{{ super() }}
<link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}iSAID Faceted Search{% endblock %}

{% block navbar %}
{{nav.isaid_navbar.render()}}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-4">
        {% if facets_in_search %}
        <h1>Explore</h1>
        {% for facet in facets_in_search %}
        {% if sorted_facets[facet] %}
        <h2>{{ facet }}</h2>
            <div style="max-height: 300px;overflow: scroll;">
            {% for key, value in sorted_facets[facet].items() %}
                {% if facet in request.args and key in request.args[facet].split(",") %}
                    <b>{{ key }}</b>
                {% else %}
                    {% if request.args %}
                        <a href="{{ base_url }}&{{ facet }}={{ key }}">{{ key }}</a>
                    {% else %}
                        <a href="{{ base_url }}{{ facet }}={{ key }}">{{ key }}</a>
                    {% endif %}
                {% endif %}
                : {{ value }}<br />
            {% endfor %}
            </div>
        {% endif %}
        {% endfor %}
      {% endif %}
      </div>
      <div class="col-md-4">
        <form name="search_form">
            Search 
            {% if "q" in request.args %}
                <input type="text" name="q" value="{{ request.args['q'] }}" />
            {% else %}
                <input type="text" name="q" />
            {% endif %}
        </form>
        <h1>Search Results ({{ search_results['nbHits'] }})</h1>
        {% if facet_filters or "q" in request.args %}
            <h3>Filters</h3>
            <div>
            {% if "q" in request.args %}
                [<a href="{{ base_url_no_q }}">X</a>] {{ request.args["q"] }}<br />
            {% endif %}
            
            {% for filter in facet_filters %}
                [<a href="{{ request.url.replace(filter.replace(':', '=').replace(' ', '%20'), '') }}">X</a>] {{ filter }}<br />
            {% endfor %}
            </div>
        {% endif %}

        <hr />

        {% for result in search_results["hits"] %}
            <div>
                {{ result["Entity Type"] }} : 
                {% if "url" in result and result["url"] %}
                    <a href="{{ result['url'] }}" target="_new">{{ result["name"] }}</a>
                {% else %}
                    {{ result["name"] }}
                {% endif %}
            </div>
        {% endfor %}

        <hr />

        <div>
            {% if previous_link %}
                <a href="{{ previous_link }}"><< Previous</a>
            {% endif %}
            {% if next_link %}
                <a href="{{ next_link }}">Next >></a>
            {% endif %}
        </div>

        <div>
            {% if request.args %}
                <a href="{{ request.url }}&format=json">View as JSON</a>
            {% else %}
                <a href="{{ request.url }}?format=json">View as JSON</a>
            {% endif %}
        </div>

      </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
<script type="text/javascript" class="init">
    $(document).ready(function() {
        $('#results').DataTable();
    } );
</script>
{% endblock %}
